body {
     font-family: 'Roboto', sans-serif;
     font-weight: 300;
     background: #eee;
}
 .grid-container {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 8% 8% 1fr 10%;
     height: 100vh;
     grid-template-areas: "header""subHead""content""footer";
}
 .header {
     grid-area: header;
     background: rgb(50,31,101);
     background: linear-gradient(128deg, rgba(50,31,101,1) 52%, rgba(233,0,82,1) 52%);
}
 .headerText {
     color: #fff;
     padding-left: 1em;
     margin-top: 0.8em;
     font-weight: 700;
     line-height: 1.2em;
}
 .dateStyle {
     font-weight: 500;
}
 .dateHeader {
     width: 100%;
     height: auto;
     background-color: #eee;
     text-align: center;
     font-size: 1.2em;
     position: relative;
     z-index: 1;
}
 .dateHeader.fixed {
     position: fixed;
     top: 0;
     width: 100%;
     box-sizing: border-box;
     z-index: 0;
}
 .dateHeader.fixed.absolute {
     position: absolute;
}
 .subHead {
     grid-area: subHead;
     background: #58448B;
     color: #fff;
     font-weight: 500;
     font-size: 2em;
}
 #content {
     grid-area: content;
     overflow: auto;
}
 .footer {
     grid-area: footer;
     background: #321F65;
}
 .nested-grid-container {
     display: grid;
     background: #fff;
     box-shadow: 0 10px 20px rgba(0,0,0,0.15), 0 6px 6px rgba(0,0,0,0.15);
     grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
     grid-template-rows: 1fr 1fr 1fr 1fr;
      margin: 1.5em 0.4em 1.5em 0.4em;
     padding: 1em 0;
     grid-template-areas: "manager manager manager manager" "leftPlayerImage outIcon inIcon rightPlayerImage" "leftPlayerImage outMil inMil rightPlayerImage" "leftPlayerName PandL PandL rightPlayerName";
}
 .manager {
     grid-area: manager;
     text-align: center;
     font-size: 2em;
}
 .leftPlayerImage {
     grid-area: leftPlayerImage;
     align-self: end;
     display: flex;
     justify-content: center;
     align-items: center;
}
 .rightPlayerImage {
     grid-area: rightPlayerImage;
     align-self: end;
     display: flex;
     justify-content: center;
     align-items: center;
}
 .leftPlayerImage img{
     width: 70%;
}
 .rightPlayerImage img{
     width: 70%;
}
 .leftPlayerName {
     grid-area: leftPlayerName;
     align-self: start;
     text-align: center;
     padding-top: 0.6em;
}
 .rightPlayerName {
     grid-area: rightPlayerName;
     align-self: start;
     text-align: center;
     padding-top: 0.6em;
}
 .firstName {
     font-weight: 300;
     font-size: : 0.8em;
}
 .secondName {
     text-transform: uppercase;
     font-weight: 700;
     font-size: : 1.2em !important;
}
 .PandL {
     grid-area: PandL;
     align-self: center;
     text-align: center;
}
 .outIcon {
     grid-area: outIcon;
     align-self: end;
     justify-self: end;
     display: flex;
}
 .inIcon {
     grid-area: inIcon;
     align-self: end;
     justify-self: start;
     display: flex;
}
 .outIcon img {
     width: 70%;
}
 .inIcon img {
     width: 70%;
}
 .outMil {
     grid-area: outMil;
     justify-self: center;
     align-self: end;
     font-size: 1.6em;
}
 .inMil {
     grid-area: inMil;
     justify-self: center;
     align-self: end;
     font-size: 1.6em;
}
 .tableStyle {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 1fr;
     justify-self: center;
     align-self: start;
     margin-top: 2em;
}
 table, tbody, tr, td, th {
    /*border: 1px solid black;
    */
     text-align: left;
}
 th {
     border-bottom: 1px solid #eee;
}
 table {
     width: 80vw;
     height: 60vh;
     border-spacing: 0;
}
 td {
     font-size: 0.7em;
}
 .tableAlign {
     text-align: center;
}
 .teams-grid-container {
     display: grid;
     background: #fff;
     box-shadow: 0 10px 20px rgba(0,0,0,0.15), 0 6px 6px rgba(0,0,0,0.15);
     margin: 2em 0.5em 3em 0.5em;
     padding: 2em 0;
     grid-template-columns: 1fr;
     grid-template-rows: 1fr 1fr auto 1fr auto 1fr auto 1fr auto 1fr auto;
     grid-template-areas: "manager" "keeper" "keeperName" "defence" "defenceName" "midfield" "midfieldName" "forwards" "forwardsName" "bench" "benchName";
}
 
.manager {grid-area: manager;}
.keeper {grid-area: keeper;}
.keeperName {grid-area: keeperName;}
.defence {grid-area: defence;}
.defenceName {grid-area: defenceName;}
.midfield {grid-area: midfield;}
.midfieldName {grid-area: midfieldName;}
.forwards {grid-area: forwards;}
.forwardsName {grid-area: forwardsName;}
.bench {grid-area: bench; background: #eee;}
.benchName {grid-area: benchName; background: #eee;}

 .keeper img, .defence img, .midfield img, .forwards img, .bench img {
     width: 15vw;
}
 .keeper div, .defence div, .midfield div, .forwards div, .bench div {
     display: inline-block;
     width: 15vw;
}

 .keeperName div, .defenceName div, .midfieldName div, .forwardsName div, .benchName div {
     display: inline-block;
     width: 15vw;
     font-size: auto;
     text-align: center;
     font-weight: 500;
     font-size: 0.6em;
}

 .keeperName p, .defenceName p, .midfieldName p, .forwardsName p, .benchName p {
     margin: 0; 
}

 .keeper, .defence, .midfield, .forwards, .bench {
    justify-self: center;
    align-self: end;
}

 .keeperName, .defenceName, .midfieldName, .forwardsName, .benchName {
    justify-self: center;
    align-self: center;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    align-self: start;
}

/* .bench {
    padding: 1em 0;
}*/

.player, .name {
  margin: 0 6px;
}