body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8% 8% 1fr 10%;
  height: 100vh;
  grid-template-areas: "header""subHead""content""footer";
}
.header {
  grid-area: header;
  background: rgb(50,31,101);
  background: linear-gradient(128deg, rgba(50,31,101,1) 52%, rgba(233,0,82,1) 52%);
}
.headerText {
  color: #fff;
  padding-left: 1em;
  margin-top: 0.8em;
  font-weight: 700;
  line-height: 1.2em;
}

.dateStyle {
  font-weight: 500;
}

.dateHeader {
  width: 100%;
  height: auto;
  background-color: #eee;
  text-align: center;
  font-size: 1.2em;
  position: relative;
  z-index: 1;
}

.dateHeader.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 0;
}

.dateHeader.fixed.absolute {
  position: absolute;
}

.subHead {
  grid-area: subHead;
  background: #58448B;
  color: #fff;
  font-weight: 500;
  font-size: 2em;
}
#content {
  grid-area: content;
  overflow: auto;
}
.footer {
  grid-area: footer;
  background: #321F65;
}
.nested-grid-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 2em 0.4em 3em 0.4em;
  grid-template-areas: 

    "manager manager manager manager"
    "leftPlayerImage outIcon inIcon rightPlayerImage"
    "leftPlayerImage outMil inMil rightPlayerImage"
    "leftPlayerName PandL PandL rightPlayerName";
}
.manager {
  grid-area: manager;
  text-align: center;
  font-size: 2em;
}
.leftPlayerImage {
  grid-area: leftPlayerImage;
  align-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightPlayerImage {
  grid-area: rightPlayerImage;
  align-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftPlayerImage img{
  width: 70%;
}

.rightPlayerImage img{
  width: 70%;
}

.leftPlayerName {
  grid-area: leftPlayerName;
  align-self: start;
  text-align: center;
  padding-top: 0.6em;
}
.rightPlayerName {
  grid-area: rightPlayerName;
  align-self: start;
  text-align: center;
  padding-top: 0.6em;
}

.firstName {
  font-weight: 300;
  font-size: : 0.8em;
}

.secondName {
  text-transform: uppercase;
  font-weight: 700;
  font-size: : 1.2em !important;
}

.PandL {
  grid-area: PandL;
  align-self: center;
  text-align: center;
}
.outIcon {
  grid-area: outIcon;
  align-self: end;
  justify-self: end;
  display: flex;
}
.inIcon {
  grid-area: inIcon;
  align-self: end;
  justify-self: start;
  display: flex;
}

.outIcon img {
  width: 70%;
}

.inIcon img {
  width: 70%;
}

.outMil {
  grid-area: outMil;
  justify-self: center;
  align-self: end;
  font-size: 1.6em;
}
.inMil {
  grid-area: inMil;
  justify-self: center;
  align-self: end;
  font-size: 1.6em;
}