.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 1fr 10%;
  gap: 0px 0px;
  grid-template-areas: "header" "content" "nav";
  height: 100vh;
}

header { 
	grid-area: header; 
	background: rgb(50,31,101);
    background: linear-gradient(128deg, rgba(50,31,101,1) 52%, rgba(233,0,82,1) 52%);
}

content { 
	grid-area: content; 
	background: #eee;
}

nav { 
	grid-area: nav; 
	background: red;
	align-self: center;
}

footer { 
	grid-area: footer; 
	background: #321F65;
	display: none;
}

ul {
    list-style-type: none;
    margin: 0px;
    }

.grid ul {
    display: grid;
    grid-template-columns: repeat(4, 18vw);
    grid-gap: 5vw;
    justify-content: center;
    justify-items: center;
}

/*li img {
  height: 40px;
  width: auto;
}*/



/******** DESKTOP ⌄ STYLES ********/

@media (min-width: 1000px) {
	.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 10% 8% 1fr 8%;
	gap: 0px 0px;
	grid-template-areas: "header" "nav" "content" "footer";
	height: 100vh;
	}

	footer { 
	grid-area: footer; 
	background: #321F65;
	display: block;
	}
}

/******** DESKTOP ^ STYLES ********/