html, body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  position: fixed;
  overflow-y: scroll;
  background-color: #F8F8F8;
  -webkit-overflow-scrolling: touch;
  touch-action: manipulation;
}

a,
button,
a label {
    cursor: pointer;
}

*:focus {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

/*CONTAINER 1*/

.container1 {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 80px 2fr 2fr 2fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
      "header"
      "content"
      "content"
      "content"
      "footer";
  }

  .blackDiv {
    background-color: #000;
    height: 100%;
    width: 100%;
    z-index: 500;
    display: block;
    position: fixed;
  }

  .intro {
    font-size: 1.5em;
  }

  .button {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background: #000;
  outline: none;
  border: none;
  justify-self: center;
  align-self: center;
}


.button:hover {
  background: #242424;
}

  .header {
    grid-area: header;
    justify-self: center;
    align-self: end;
  }

  .logo {
    padding-top: 20px;
    display: block;
    height: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .intro {
    grid-area: intro;
    justify-self: center;
    align-self: center;
  }

  .leftButton {
    justify-self: center;
    align-self: center;
  }
  .middleButton {
    justify-self: center;
    align-self: center;
  }
  .rightButton {
    justify-self: center;
    align-self: center;
  }

  .footer {
    grid-area: footer;
    justify-self: center;
    align-self: center;
    }

  .first {
    grid-column: 1 / 4;
    grid-area: content;
    grid-row: 3 / 4;
  }

  .second {
    grid-column: 1 / 4;
    grid-area: content;
    grid-row: 4 / 5;
  }

  .spin {
    grid-column: 1 / 4;
    grid-area: content;
    grid-row: 5 / 6;
  }

  
  @media (min-width: 450px){
    .container1{
      grid-template-rows: 80px 2fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        "header header header"
        "content content content"
        "footer footer footer";
    }
  
  .leftButton {
    grid-column: 1 / 2;
    justify-self: end;
  }

  .middleButton {
    grid-column: 2 / 3;
    justify-self: center;
  }

  .rightButton {
    grid-column: 3 / 4;
    justify-self: start;
    }
    .button: hover {
  background: red;
  width: 95px;
  height: 95px;
    }
}

.center {
   width: 300px;
   height: 300px;
   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -150px;
   margin-top: -150px;
}

.bottom {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: 250px;
}

/*CONTAINER 2*/

.container2 {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 80px 2fr 1fr 2fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
      "header"
      "name"
      "surname"
      "spin"
      "footer"
      ;
  }

.name {
  text-align: center;
  font-size: 15vw;
  font-weight: 900;
  grid-area: name;
  align-self: end;
  overflow: hidden;
}
.surname {
  grid-area: surname;
  align-self: start;
  justify-self: center;
  overflow: hidden;
}
.spin{
  grid-area: spin;
  justify-self: center;
  align-self: start;
}

  .spinButton {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background: #000;
  outline: none;
  border: none;
}

.spinButton:hover {
  background: #242424;
}

.form__field {
  border: 0;
  outline: 0;
  background: transparent;
  text-align: center;
  font-size: 8vw;
  font-weight: 500;
  color: #000;
  overflow: hidden;
  &: : placeholder {
    color: transparent;
  }
  &: placeholder-shown ~ .form__label {
    cursor: text;
  }

}

input:focus::placeholder {
  color: transparent;
}

.form__field{
&: required,&: invalid {
  box-shadow: none;
  }
}

@media (min-width: 450px){
.form__field {
  font-size: 5vw;
  }
.name {
  font-size: 10vw;
  }
}

@media (min-width: 1200px){
.form__field {
  font-size: 3vw;
  }
.name {
  font-size: 6vw;
  }
}

.viewportsize {
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  margin: 0 auto;
}

.labs{
    display: block;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

}
