html, body {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  background: #eaeaea;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  /*grid-gap: 1em;*/
  height: 100vh;
}

header, footer {
  grid-column: 1 / 4;
}

@media all and (max-width: 700px) {
  aside,
  main {
    grid-column: 1 / 4;
  }
}
  

.gridShift{
    grid-column: 1 / 4;
}

header,
aside,
main,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  /*height: 30vh;*/
}

.temp-1 {
  height: 70vh;
}
.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo {
  /*position: fixed;*/
  height: auto;
  width: 30vh;
}
.name {
  text-align: center;
  font-size: 100px;
  font-family: sans-serif;
  font-weight: bold;
}
.surname {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: gray;
  font-family: sans-serif;
}
.button {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background: #000;
  outline: none;
}

/*@media all and (max-width: 700px) {
  .button {
  width: 400px;
  height: 400px;
  font-size: 30px;
  }
}*/

.button: hover {
  background: #1F1F1F;
}
.homeButton {
  
}
.spinButton {
  
}
.alignButton {
  position: relative;
}
.bottomMe {
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: gray;
  font-family: sans-serif;
  &: : placeholder {
    color: transparent;
  }
  &: placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
}
}
/* reset input */
.form__field{
&: required,&: invalid {
  box-shadow: none;
}
}
