body {
	background: #eee;
	font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1 {
	color: #fff;
	font-size: 4em;
	text-align: center;
	margin: 0.1em 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 1fr auto;
  gap: 0px 0px;
  grid-template-areas: "header" "content" "nav";
  height: 100vh;
}

.grid-container-sub {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% auto 1fr auto;
  gap: 0px 0px;
  grid-template-areas: "header" "subHeader" "content" "nav";
  height: 100vh;
}

header { 
	grid-area: header; 
	background: rgb(50,31,101);
    background: linear-gradient(128deg, rgba(50,31,101,1) 52%, rgba(233,0,82,1) 52%);
}

.subHeader {
	grid-area: subHeader;
	background: #58448B;
}

.logo {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
}

content { 
	grid-area: content; 
	width: 100%;
	background: #ddd;
	justify-self: center;
}

nav { 
	grid-area: nav; 
	background: #321F65;
	align-self: center;
    height: 100%;
}

footer { 
	grid-area: footer; 
	background: #321F65;
	display: none;
}

ul {
    list-style-type: none;
}

li img {
	height: 5vh;
	margin: 1vh;
}

nav.grid ul {
    display: grid;
    grid-template-columns: repeat(4, 0);
    grid-gap: 25vw;
    padding-inline-start: 0;
    justify-content: center;
    justify-items: center;
}


/******** DESKTOP ⌄ STYLES ********/

/*@media (min-width: 600px) {
	nav.grid ul {
    grid-gap: 15vw;
	}
}*/

@media (min-width: 1000px) {
	.grid-container {
	grid-template-rows: 10% auto 1fr 8%;
	grid-template-areas: "header" "nav" "content" "footer";
	}

	.grid-container-sub {
	grid-template-rows: 10% auto auto 1fr auto;
	grid-template-areas: "header" "nav" "subHeader" "content" "footer";
	}

nav {
	background: #58448B;
}

.subHeader {
	background: #321F65;
}

h1 {
	font-size: 1.5em;
}

	nav.grid ul {
    grid-gap: 10vw;
}

	li img {
	height: 6vh;
}

	content {
	width: 800px;
}

	footer { 
	grid-area: footer; 
	background: #321F65;
	display: block;
	}
}

/******** DESKTOP ^ STYLES ********/

.viewportfix {
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  margin: 0 auto;
}