* {
  font-family:'Mulish',sans-serif;
  font-weight:300;
}

html,body {
  height:100%;
  -webkit-overflow-scrolling:touch;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color:transparent;
  touch-action:manipulation;
  background:#eee;
  
}
h1 {
  color: #fff;
  font-size: 1.3em;
  text-align: center;
  margin: 0.2em 0;
  font-weight: 500;
  text-transform: uppercase;
}
h2 {
  font-weight: 700;
}
/****** MAIN SCAFFOLD ******/
header {
  position:fixed;
  top:0;
  width:100%;
  height:10vh;
  background:linear-gradient(128deg,rgba(50,31,101,1) 52%,rgba(233,0,82,1) 52%);
  z-index:10;
}
.subHeader {
  position:fixed;
  top:10vh;
  width:100%;
  height: fit-content;
  background:#58448B;
  z-index:5;
}
.logo {
  height: 45%;
}
.centerMe {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
main {
  width:100%;
  overflow:auto;
  padding-top:10vh;
}
main.sub {
  padding-top:15vh;
}
main.league {
  padding-top:15vh;
  height:80%;
}
section {
  min-height:80vh;
}
.navstyle {
  background:#321F65;
  position:fixed;
  bottom:0;
  width:100%;
}
#navbar {
  transition:bottom 0.3s;
  position:fixed;
  bottom:0;
}
.navstyle ul {
  display:grid;
  grid-template-columns:repeat(4,0);
  grid-gap:25vw;
  padding-inline-start:0;
  justify-content:center;
  justify-items:center;
}
ul {
  list-style-type:none;
}
li img {
  height:7vh;
  margin: 0;
}
/****** END NAVBAR ******/
/****** COVER OVERLAY ******/
.container {
  height:100vh;
  width:100vw;
  display:grid;
  grid-gap:10px;
}
.cover {
  background:linear-gradient(128deg,rgba(50,31,101,1) 52%,rgba(233,0,82,1) 52%);
  z-index:500;
  position:fixed;
}
.cover img {
  max-width: 80%;
}
/****** ALL GRID CONTAINERS ******/
.grid-container-sub {
  display:grid;
  grid-template-columns:1fr;
  grid-template-rows:10% auto 1fr auto;
  gap:0px 0px;
  grid-template-areas:"header""subHeader""content""nav";
  height:100vh;
  width:100vw;
}
.grid-container-landing {
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows:1fr 1fr;
  gap:0px 0px;
  grid-template-areas:"gameweek leader""deadline deadline";
  height:100%;
  background:#321F65;
}
#grid-container-mom {
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows:1fr 1fr 1fr;
  gap:0px 0px;
  grid-template-areas:"award winner""award winner""fun fun";
  height:100%;
  background:#eee;
}
#grid-container-toppoints {
  display:grid;
  background:#fff;
  border-radius:5px;
  box-shadow:0 10px 20px rgba(0,0,0,0.15),0 6px 6px rgba(0,0,0,0.15);
  grid-template-columns:1.5fr 1.5fr 1fr 1.5fr;
  grid-template-rows:0.5fr 1fr 1fr 1fr 1fr 1fr;
  gap:0.5em 0.5em;
  color:#000;
  margin:1em 0.7em 1em 0.7em;
  padding:1em;
  justify-items:center;
  align-items:center;
  grid-template-areas:"topPointsTitle topPointsTitle topPointsTitle topPointsTitle" "image1 name1 points1 ffm1" "image2 name2 points2 ffm2" "image3 name3 points3 ffm3" "image4 name4 points4 ffm4" "image5 name5 points5 ffm5";
}
.grid-container-transfers {
  display:grid;
  background:#fff;
  border-radius:5px;
  box-shadow:0 10px 20px rgba(0,0,0,0.15),0 6px 6px rgba(0,0,0,0.15);
  grid-template-columns:1.5fr 1fr 1fr 1.5fr;
  grid-template-rows:auto;
  margin:1.5em 0.8em;
  padding:1em 0;
  grid-template-areas:"manager manager manager manager""leftPlayerImage outIcon inIcon rightPlayerImage""leftPlayerImage outMil inMil rightPlayerImage""leftPlayerName PandL PandL rightPlayerName";
}
.grid-container-teams {
  display:grid;
  background:#fff;
  border-radius:5px;
  box-shadow:0 10px 20px rgba(0,0,0,0.15),0 6px 6px rgba(0,0,0,0.15);
  margin:1em 0.7em 1em 0.7em;
  padding:1em 0;
  grid-template-columns:1fr;
  grid-template-rows:auto;
  grid-template-areas: "manager""keeper""keeperName""defence""defenceName""midfield""midfieldName""forwards""forwardsName""benchHead""bench""benchName";
}
#topPointsTitle {
  grid-area:topPointsTitle;
  font-size:1.5em;
  align-self:end;
}
#topPointsTitle p {
  margin-block-start:0;
  margin-block-end:0;
}
#image5 {grid-area:image5;}
#image1 {grid-area:image1;}
#image2 {grid-area:image2;}
#image3 {grid-area:image3;}
#image4 {grid-area:image4;}
#image5 {grid-area:image5;}
#name1 {grid-area:name1;justify-self:start;}
#name2 {grid-area:name2;justify-self:start;}
#name3 {grid-area:name3;justify-self:start;}
#name4 {grid-area:name4;justify-self:start;}
#name5 {grid-area:name5;justify-self:start;}
#points1 {grid-area:points1;}
#points2 {grid-area:points2;}
#points3 {grid-area:points3;}
#points4 {grid-area:points4;}
#points5 {grid-area:points5;}
#ffm1 {grid-area:ffm1;}
#ffm2 {grid-area:ffm2;}
#ffm3 {grid-area:ffm3;}
#ffm4 {grid-area:ffm4;}
#ffm5 {grid-area:ffm5;}

#name1,#name2,#name3,#name4,#name5 {
    font-size:0.8em;
  }

#points1,#points2,#points3,#points4,#points5 {
  font-size:1em;
  font-weight:500;
}
#ffm1,#ffm2,#ffm3,#ffm4,#ffm5 {
  font-size:0.8em;
  text-align:center;
  padding:0.5em;
}
.tpImage img {
  width:13vw;
}
/****** HOME SECTION STYLES ******/
.gameweek {grid-area:gameweek;}
.leader {grid-area:leader;}

.gameweek, .leader {
  justify-self:center;
  align-self:start;
  padding-top:15vh;
}
.deadline {
  grid-area:deadline;
  justify-self:center;
  align-self:start;
}
.gameweek h3,.leader h3,.deadline h3 {
  color:#9285b5;
  text-align:center;
  margin-block-start:0em;
  margin-block-end:0em;
  font-weight:700;
  text-transform:uppercase;
  font-size:0.9em;
}
.gameweek h2, .leader h2, .deadline h2, .deadline p {
  color:#fff;
  text-align:center;
  margin-block-start:0em;
  margin-block-end:0em;
}
.gameweek h2 {
  font-size:6em;
}
.leader h2 {
  font-size:3em;
  padding-top:0.5em;
}
.deadline h2 {
  font-size:1.2em;
  margin: 0.5em 0;
}
.deadline p {
  font-size:0.8em;
  margin: 8em 0;
  font-weight: 300;
}
.countdown-section {
  display:block;
  float:left;
  text-align:center;
  padding:0.5em;
}
.countdown-amount {
  font-size:200%;
  font-weight: 700;
}
.countdown-period {
  display:block;
  font-size:50%;
}
/** MoM Award **/
.award {
  grid-area:award;
  align-self:center;
  justify-self:center;
}
.award img {
  height:40vh;
  width:auto;
  object-fit:contain;
}
.winner {
  grid-area:winner;
  align-self:center;
  padding:1em;
}
.month {
  color:#e90052;
  font-size:1.8em;
  font-weight:bold;
  margin-block-start:0.5em;
  margin-block-end:0.5em;
  text-transform:uppercase;
}
.momText {
  font-size:1.2em;
  font-weight:700;
}
.winnerText {
  font-size:2em;
  color:#fff;
  font-weight:700;
  background-color:#321F65;
  padding:0.5em;
  width:fit-content;
}
.fun {grid-area: fun;}

/******** RULES ********/

.rulesContainer {
  max-width: 80vw;
  margin: 0 auto;
  padding:0;
}

.rules {
  padding: 2em;
  background: #321F65;
  color: #fff;
  position: relative;
}

.rules h3, h4 {
  font-weight: 700;
}

.rules ol {
  list-style: none;
  counter-reset: my-counter;
  padding: 0;
  margin: 0 1em;
}
.rules ol li {
  counter-increment: my-counter;
}
.rules ol li::before {
  content: counter(my-counter) ". ";
  color: #9285b5;
  font-weight: bold;
}

/******** TRANSFER STYLES ********/
.dateHeader {
  width:100%;
  height:auto;
  text-align:center;
  font-size:1.5em;
  font-weight:700;
  margin:7vh 0 0 0;
}
.dateHeader:not(:first-child) {
  margin-top:0.5em;
}
#transfercontent, #teamcontent {
  grid-area:content;
  margin:0 auto;
  overflow:auto;
}
.manager {
  grid-area:manager;
  text-align:center;
  font-size:2em;
  padding-bottom:0.7em;
}

.rightPlayerImage {grid-area:rightPlayerImage;}
.leftPlayerImage {grid-area:leftPlayerImage;}
.rightPlayerName {grid-area:rightPlayerName;}
.leftPlayerName {grid-area:leftPlayerName;}
.inIcon {grid-area:inIcon;}
.outIcon {grid-area:outIcon;}
.inMil {grid-area:inMil;}
.outMil {grid-area:outMil;}

.leftPlayerImage, .rightPlayerImage {
  align-self:end;
  display:flex;
  justify-content:center;
  align-items:center;
}
.leftPlayerImage img, .rightPlayerImage img {
  width:70%;
}
.leftPlayerName, .rightPlayerName {
  align-self:start;
  text-align:center;
  padding-top:0.6em;
}
.firstName {
  font-weight:300;
  font-size:0.8em;
}
.secondName {
  text-transform:uppercase;
  font-weight:700;
  font-size:0.9em;
}
.PandL {
  grid-area:PandL;
  align-self:center;
  text-align:center;
  font-size:0.9em;
}
.outIcon, .inIcon {
  align-self:end;
  justify-self:center;
}

.outIcon img,.inIcon img {
  width:3em;
}
.outMil, .inMil {
  justify-self:center;
  align-self:end;
  font-size:1.5em;
}
/******** TEAM STYLES ********/
.manager {grid-area:manager;}
.keeper {grid-area:keeper;}
.keeperName {grid-area:keeperName;}
.defence {grid-area:defence;}
.defenceName {grid-area:defenceName;}
.midfield {grid-area:midfield;}
.midfieldName {grid-area:midfieldName;}
.forwards {grid-area:forwards;}
.forwardsName {grid-area:forwardsName;}
.benchName {grid-area:benchName;}
.bench {
  grid-area:bench; 
  padding-top:0.6em;
}
.benchHead {
  grid-area:benchHead;
  width:70%;
  padding-bottom: : 1em;
}
.keeper img,.defence img,.midfield img,.forwards img,.bench img {
  width:15vw;
}
.keeper div,.defence div,.midfield div,.forwards div,.bench div {
  display:inline-block;
  width:15vw;
}
.keeperName div,.defenceName div,.midfieldName div,.forwardsName div,.benchName div,.benchHead div {
  display:inline-block;
  width:15vw;
  font-size:auto;
  text-align:center;
  font-weight:500;
  font-size:0.7em;
}
.keeperName p,.defenceName p,.midfieldName p,.forwardsName p,.benchName p,.benchHead p {
  margin:0;
}
.keeper,.defence,.midfield,.forwards,.bench,.benchHead {
  justify-self:center;
  align-self:end;
}
.keeperName,.defenceName,.midfieldName,.forwardsName,.benchName {
  justify-self:center;
  align-self:start;
  padding-top:0.2em;
  padding-bottom:1em;
  display:flex;
}
.benchHead p {
  font-size:1em;
  font-weight:700;
  color:#000;
  padding:0.5em;
  margin-block-start:0;
  margin-block-end:0;
  border-bottom:1px dashed #ddd;
  white-space:nowrap;
  text-align:center;
}
.player,.name {
  margin: 0 6px;
}
/******** LEAGUE TABLE STYLES ********/
.tableStyle {
  margin:3vh;
  height:80%;
}
table {
  width:100%;
  height:100%;
  border-spacing:0;
}
th {
  border:none;
}
table,tbody,tr,td,th {
  text-align:left;
  border-collapse:collapse;
}
tr:nth-child(1) {
  background-color:#321F65;
  color:#fff;
}
tr {
  border-top:1px solid #d8d8d8;
  background-color:#fff;
}
td {
  font-size:1em;
}
.tableAlign {
  text-align:center;
  padding: 0;
}
.nameAlign {
  padding: 0;
  padding-left: 0.8em;
}
.ctNameAlign {
  padding-left: 1em;
}
.ctCashAlign {
  padding-left: 2em;
}
.leagueMoves {
  font-size:0.8em;
}
.fa-angle-up {
  color:green;
}
.fa-angle-down {
  color:red;
}

/******** DESKTOP STYLES ********/
@media (min-width:600px) {
  nav.navstyle ul {
    grid-gap:15vw;
  }
  #grid-container-mom {
    grid-template-rows:1fr;
    grid-template-areas:"award winner";
  }
  #grid-container-toppoints {
    margin: 4em;
  }
  .award {
    justify-self:end;
    padding-right:6vw;
  }
  .outIcon img,.inIcon img {
    width:4em;
  }
  .inMil,.outMil {
    align-self:center;
    font-size:2.5em;
  }
  .keeperName div,.defenceName div,.midfieldName div,.forwardsName div,.benchName div,.benchHead div {
    font-size:1em;
  }
  .tpImage img {
    width:10vw;
    padding:1em;
  }
  .leader {
    justify-self:start;
    padding-left:5vw;
  }
  .gameweek {
    justify-self:end;
    padding-right:5vw;
  }
}
@media (min-width:800px) {
  nav.navstyle ul {
    grid-gap:13vw;
  }
  #transfercontent {
    width:80%;
  }
  #teamcontent {
    width:90%;
  }
  #topPointsTitle {
    font-size:1.8em;
  }
  .rulesContainer {
  max-width: 70vw;
  }
}
@media (min-width:1000px) {
  .grid-container-sub {
    grid-template-rows:10% auto auto 1fr 5%;
    grid-template-areas:"header""nav""subHeader""content""footer";
  }
  .navstyle {
    background:#58448B;
    position:fixed;
    top:10vh;
    width:100%;
    height:10vh;
    display:block;
  }
  nav.navstyle ul {
    grid-gap:10vw;
  }
  li img {
    height:5vh;
  }
  section.landing {
    min-height: 90vh;
    padding-top: 5vh;
  }
  h1 {
    font-size:1.4em;
  }
  main.league {
    padding-top:25vh;
  }
  .subHeader {
    top:20vh;
    background:#321F65;
  }
  #name1,#name2,#name3,#name4,#name5 {
    font-size:1.5em;
  }
  .dateHeader {
    margin:17vh 0 0 0;
  }
  #transfercontent {
    width:60%;
  }
  .award {
    justify-self:end;
    padding:0 4em;
  }
  .rules {
    top: 10vh;
  }
  .rulesContainer {
  max-width: 50vw;
  }
}
/******** END DESKTOP STYLES ********/
.viewportfix {
  height:100%;
  height:100vh;
  height:calc(var(--vh,1vh) * 100);
  margin: 0 auto;
}